@import '_normalize.styl'

grid = 20px;
radius = 3px;

close-control = #ff6058;
minimize-control = #ffbd2e;
maximize-control = #29cd42;


html,
*,
*:before,
*:after
  box-sizing: border-box;
  
body
  font: message-box;
  background: #fafafa;
  background: url('/images/background.jpg');
  background-size: cover;
  background-position: center center;
  margin: 0;
  
.full-page {
  flex: column;
  align-items: stretch;
  min-height: 100vh;
}

.top
  flex: 0 0 50%;
  padding: 40px 0;

.bottom
  flex: 0 0 50%;
  
  .wrapper
    display: flex
    justify-content: space-between;
  
    > div
      flex: 0 0 48%;
  
.wrapper
  width: 90%;
  margin: 0 auto;
  
.themes-container 
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  height: 250px;
  overflow: auto;
  border: 1px solid #ccc;
  background: white;
  
.theme-set 
  flex: 0 0 100%;
  margin: 0 0 20px; 
  h3
    margin-top: 0;
  
.theme-element
  display: flex;
  align-items: center;
  margin: 0 0 2px;
  font-family: monospace;
  label
    color: #8b2ca0;
    font-size: 12px;
    display: block;
    white-space: nowrap;
  input
    background: none;
    border: 0;
    color: #198e6a;
    font-size: 12px;
    padding: 0 2px;
    width: 100%;
    &:focus
      outline: none;
      color: #f34f4f;

.browser
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  border-radius: radius;
  box-shadow: 0 0 0 1px #00000033, 0 0 20px #00000022;
  overflow: hidden;
  background: white;
  
.os-controls
  display: flex;
  justify-content: space-between;
  flex: 0 0 52px;
  margin: 0 8px;
  > div
    border-radius: 50%;
    height: 12px;
    width: 12px;
    
  .close
    background: close-control;
    border: .5px solid darken(close-control, 20);

  .minimize
    background: minimize-control;
    border: .5px solid darken(minimize-control, 16);
  
  .maximize
    background: maximize-control;
    border: .5px solid darken(maximize-control, 12);

.favicon,
.tab-close {
  border-radius: radius;
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
}

.tab:nth-child(2) .favicon {
  background: #FFDF81;
  border: 1px solid #FFC446;
}

.tab:nth-child(3) .favicon {
  background: #58E7E6;
  border: 1px solid #28D9D2;
}

.tab:nth-child(4) .favicon {
  background: #FFA792;
  border: 1px solid #F67965;
}


.tool-icon
  display: flex;
  align-items: center;

.tab-text {
  white-space: nowrap;
}

.theme-generator
  input 
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    background: #0996f8;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow 0 0 0 4px transparent;
    transition: box-shadow 250ms;
    
    &:hover {
      box-shadow: 0 0 0 2px white, 0 0 0 4px #95cdff;
    }

.theme-switcher-element {
  padding: 10px;
  cursor: pointer;
  margin: 0 0 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow 0 0 0 4px transparent;
  transition: box-shadow 250ms;
  
  &:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #95cdff;
  }
}

